<section class="new-training" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex="400px" fxFlex.xs="95%">
    <mat-card-title fxLayoutAlign="center">Time to start a workout</mat-card-title>
    <mat-card-content>
      <mat-form-field fxLayoutAlign="center">
        <mat-select placeholder="Favorite exercise" ngModel #exercise="ngModel" required>
          <mat-option *ngFor="let ex of exercises$ | async" [value]="ex">
            {{ex.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button
              (click)="start(exercise?.value)"
              [disabled]="exercise.invalid"
              color="primary">Start</button>
      <!-- <button *ngIf="count === 0" type="button" mat-raised-button
              (click)="FetchExercises()"
              color="primary">Fetch Again</button> -->
    </mat-card-actions>
  </mat-card>
</section>
