<mat-nav-list>
  <a mat-list-item routerLink="/signup" *ngIf="!authStatus">
    <mat-icon>person_add</mat-icon>
    <span>Signup</span>
  </a>
  <a mat-list-item routerLink="/login" *ngIf="!authStatus">
    <mat-icon>group_add</mat-icon>
    <span>Login</span>
  </a>
  <a mat-list-item routerLink="/training" *ngIf="authStatus">
    <mat-icon>directions_run</mat-icon>
    <span>Training</span>
  </a>
  <a mat-list-item (click)="logout()" *ngIf="authStatus">
    <mat-icon>eject</mat-icon>
    <span>Logout</span>
  </a>
</mat-nav-list>
