<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="openSidenav()">
      <mat-icon>playlist_add</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">Fitness Tracker</a></div>
  <div fxFlex fxLayoutAlign="flex-end" fxLayoutGap="1rem" fxHide.xs *ngIf="!(authStatus$ | async)">
    <a routerLink="signup">Signup</a>
    <a routerLink="login">Login</a>
  </div>
  <div fxFlex fxLayoutAlign="flex-end" fxLayoutGap="1rem" fxHide.xs *ngIf="authStatus$ | async">
    <a routerLink="/training">Training</a>
    <a (click)="logout()">Logout</a>
  </div>
</mat-toolbar>
